<h1> Create a new job opening </h1>
<form action="/JobOpening" method="post">
    <div class="form-group"
        <label for="job-title"> Job Title </label>
        <input id="job-title" name="job-title" type="text" class="form-control">
    </div>
    <div class="form-group"
        <label for="job-desc"> Job Description </label>
        <input id="job-desc" name="job-desc" type="text" class="form-control">
    </div>
    <div class="form-group"
        <label for="job-pay"> Hourly Wage </label>
        <input id="job-pay" name="job-pay" type="text" class="form-control">
    </div>
    <button type="submit" class="btn"> Add job opening </button>
</form>
