<h2> Job Opening </h2>
<h3>Job Title: @Model.GetTitle()</h3>
<p>Job Description: @Model.GetDesc() </p>
<p>Hourly Wage: @Model.GetPay() </p>

<p><a href="/"> Add another job opening </a></p>
<p><a href="/JobBoard"> View Job Board </a></p>
